.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BB86FC;
    font-weight: 500;
    padding: 1.5rem;
}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    color: white;
}

.redes {
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}